.hogwartsexpress {
  width: 100%;
  height: auto;
}

.jumbotron {
  padding-bottom: 0;
  padding-top: 0;
}

.card-header {
  color: white;
  background-color: rgb(30, 30, 30);
}

.card-body {
  color: white;
  background-color: rgb(60, 60, 60);
}

.table {
  color: white;
}

body {
  color: white;
  background-image: url("../images/Cream-Background.jpg");
}

.footer {
  text-align: center;
  font-size: 8pt;
  color: rgb(100, 100, 100);
  background-image: url("../images/Black-Wood.jpeg");
  padding: 20px;
}